*{
    text-align: center;
}
.title{
    margin-bottom: 1em;
}
p{
    color:white
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.btn,
label{
    margin-top: 1em;
}

.grey-out{
    background: black!important;
}

/* ****** Box Styling ******** */


img{
    width: 100px;
    height: 200px;
}

.second{
    margin-top: 2em;
}

.red{
    background: red;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}

.pink{
    background: pink;
}

.orange{
    background: orange;
}
.grey{
    background: grey;
}
.black{
    background: black;
}
.green{
    background: green;
}
